@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "YuMincho";
  font-weight: normal;
  src: url("../font/A-OTF-A1MinchoStd-Bold.otf");
}
/*!
 * Bootstrap Reboot v4.5.3 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica Neue, Helvetica, Arial, "µ╕╕πé┤πé╖πââπé»", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.15;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  background-color: #fff;
  color: #231815;
  font-family: Helvetica Neue, Helvetica, Arial, "µ╕╕πé┤πé╖πââπé»", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
  border-bottom: 0;
  cursor: help;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  background-color: transparent;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  border-style: none;
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  color: #6c757d;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  color: inherit;
  display: block;
  font-size: 1.5rem;
  line-height: inherit;
  margin-bottom: 0.5rem;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  width: 100%;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: none;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

output {
  display: inline-block;
}

summary {
  cursor: pointer;
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
/*-----------------------------------------------
@keyframes
------------------------------------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes confetti {
  0% {
    opacity: 0;
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    opacity: 1;
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 50vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 70vh);
  }
  86% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 80vh);
  }
}
.u-wysiwygArea {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .u-wysiwygArea {
    font-size: 12px;
  }
}
.u-wysiwygArea * + * {
  margin-top: 1.75em;
}
.u-wysiwygArea br + * {
  margin-top: 0;
}
.u-wysiwygArea a {
  color: blue;
  text-decoration: underline;
}
@media screen and (min-width: 769px) {
  .u-wysiwygArea a {
    transition: all 0.6s ease-in-out 0s;
  }
}
@media screen and (min-width: 769px) {
  .u-wysiwygArea a:hover {
    opacity: 0.6;
  }
}
.u-wysiwygArea h1 {
  font-size: 4.5rem;
  line-height: 1.4;
}
.u-wysiwygArea h2 {
  font-size: 3rem;
  line-height: 1.6;
  margin-top: 2em;
}
.u-wysiwygArea h3 {
  color: blue;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6;
}
.u-wysiwygArea h4 {
  font-size: 1.8rem;
  line-height: 1.6;
  padding-left: 25px;
  position: relative;
}
.u-wysiwygArea h4::before {
  background: blue;
  content: "";
  height: 17px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 17px;
}
.u-wysiwygArea h5,
.u-wysiwygArea h6 {
  font-size: 1.6rem;
  line-height: 1.6;
}
.u-wysiwygArea h1 + h2,
.u-wysiwygArea h2 + h3,
.u-wysiwygArea h3 + h4,
.u-wysiwygArea h4 + h5,
.u-wysiwygArea h5 + h6 {
  margin-top: 0.5em;
}
.u-wysiwygArea p {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .u-wysiwygArea p {
    font-size: 12px;
  }
}
.u-wysiwygArea strong,
.u-wysiwygArea strong * {
  font-weight: bold;
}
.u-wysiwygArea em,
.u-wysiwygArea em * {
  font-style: italic;
}
.u-wysiwygArea ul {
  list-style-type: disc;
}
.u-wysiwygArea ol {
  list-style-type: decimal;
}
.u-wysiwygArea ul,
.u-wysiwygArea ol {
  margin-top: 1em;
  padding-left: 1.4em;
}
.u-wysiwygArea ul li,
.u-wysiwygArea ol li {
  line-height: 1.5;
  margin-top: 0.6em;
}
.u-wysiwygArea sup,
.u-wysiwygArea sub {
  font-size: 1rem;
  line-height: 1 !important;
}
.u-wysiwygArea hr {
  background: #222;
  display: block;
  height: 1px;
  width: 100%;
}
.u-wysiwygArea blockquote {
  background: blue;
  padding: 30px;
}
.u-wysiwygArea table {
  background: blue;
  border-collapse: collapse;
  height: auto !important;
  margin-top: 3em;
  width: 100% !important;
}
.u-wysiwygArea table thead th,
.u-wysiwygArea table thead td {
  font-weight: bold;
  text-align: center;
}
.u-wysiwygArea table tr th,
.u-wysiwygArea table tr td {
  border: #222 1px solid;
  line-height: 1.5;
  padding: 15px 20px;
  text-align: left;
  vertical-align: middle;
}
.u-wysiwygArea table tr th {
  font-weight: bold;
  text-align: center;
  width: 25%;
}
.u-wysiwygArea img {
  height: auto;
  margin-top: 1em;
  max-width: 100%;
  width: auto;
}
.u-wysiwygArea img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.u-wysiwygArea img.alignright {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.u-wysiwygArea .gallery {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.u-wysiwygArea .gallery-item {
  float: none;
  margin-top: 0;
  text-align: center;
}
.u-wysiwygArea .gallery-columns-2 .gallery-item {
  width: calc((100% - 40px) / 2);
}
.u-wysiwygArea .gallery-columns-3 .gallery-item {
  width: calc((100% - (40px * 2)) / 3);
}

.button-secondary {
  border: none;
  padding: 14px 55px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background: #727171;
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s ease-out;
}
.button-secondary .button-secondaryIcon {
  margin-left: 15px;
  transition: transform 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  .button-secondary .button-secondaryIcon {
    margin-left: 9px;
    max-height: 11px;
  }
}
.button-secondary:hover {
  opacity: 0.75;
}
.button-secondary:hover > .button-secondaryIcon {
  transform: translateX(6px);
}

.siteHeader {
  border-bottom: 2px solid #00437c;
  margin: 23px auto 0;
  padding-bottom: 32px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .siteHeader {
    margin: 0;
    height: 65px;
    position: relative;
  }
}
.siteHeader__inner {
  margin: 0 auto;
  max-width: 1200px;
}
.siteHeader__burgerBtn {
  border: 1px solid #00437c;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 10px;
  display: none;
  transition: all 0.5s ease-in-out;
  z-index: 15;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .siteHeader__burgerBtn {
    display: block;
  }
}
.siteHeader__burgerBtn:hover {
  cursor: pointer;
}
.siteHeader__burgerBtn.open {
  border: 1px solid #fff;
}
.siteHeader__line {
  border-bottom: 1px solid #00437c;
  width: 68%;
  position: absolute;
  left: 16%;
  transition: all 0.5s ease-in-out;
}
.siteHeader__line:nth-child(1) {
  top: 25%;
}
.siteHeader__line:nth-child(2) {
  top: 50%;
}
.siteHeader__line:nth-child(3) {
  top: 75%;
}
.open .siteHeader__line {
  border-bottom: 1px solid #fff;
  transform: translateY(35px);
  background: transparent;
}
.open .siteHeader__line:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.open .siteHeader__line:nth-child(2) {
  opacity: 0;
}
.open .siteHeader__line:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
.siteHeader__logo {
  margin-top: 36px;
  width: 283px;
}
@media screen and (max-width: 768px) {
  .siteHeader__logo {
    margin: 0 auto;
    width: 160px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.siteHeader__contactContainer {
  float: right;
}
@media screen and (max-width: 768px) {
  .siteHeader__contactContainer {
    display: none;
  }
}
.siteHeader__img {
  float: left;
}
.siteHeader__contactBtn {
  margin: 14px 0 0 16px;
  padding: 11px 14px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  float: left;
  background: #e39300;
  transition: all 0.3s ease-out;
}
.siteHeader__contactBtn:hover {
  color: #fff;
  opacity: 0.75;
  cursor: pointer;
}
.siteHeader__contactBtnText {
  margin-right: 12px;
  font-size: 1.9rem;
  letter-spacing: 0.05rem;
  color: #fff;
}
.siteHeader__contactBtnText:hover {
  color: #fff;
  text-decoration: none;
}
.siteHeader__nav {
  margin-top: 20px;
  clear: both;
}
@media screen and (max-width: 768px) {
  .siteHeader__nav {
    margin-top: 0;
    width: 100%;
    opacity: 0;
    position: absolute;
    background: #fff;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background: #00244f;
  }
}
.siteHeader .show {
  padding-top: 64px;
  opacity: 1;
  pointer-events: all;
}
.siteHeader__navList {
  float: right;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .siteHeader__navList {
    margin-bottom: 15px;
    padding: 0;
    float: none;
    text-align: center;
  }
}
.siteHeader__navItem {
  float: left;
}
@media screen and (max-width: 768px) {
  .siteHeader__navItem {
    margin: 4px 10px;
    float: none;
  }
}
.siteHeader__navItemLink {
  padding: 15px;
  font-size: 1.4rem;
  color: #231815;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 768px) {
  .siteHeader__navItemLink {
    padding: 10px;
    display: block;
    width: 100%;
    background: #335072;
    text-align: left;
    font-size: 1.3rem;
    color: #fff;
  }
}
.siteHeader__navItemLink:hover {
  text-decoration: none;
  background: #00437c;
  color: #fff;
}
li.current-menu-item a {
  text-decoration: none;
  background: #00437c;
  color: #fff;
}

.sec01 {
  margin: 0 auto;
  clear: both;
}
.sec01 .swiper-container {
  z-index: -50;
}

.sec02 {
  margin-top: -248px;
}
@media screen and (max-width: 768px) {
  .sec02 {
    margin-top: 13px;
    padding: 0 10px;
  }
}
.sec02__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .sec02__list {
    flex-direction: column;
    align-items: center;
  }
}
.sec02__listItem {
  padding: 47px 0 40px;
  width: 400px;
  text-align: center;
  background: #00437c;
}
@media screen and (max-width: 768px) {
  .sec02__listItem {
    padding: 40px 0 32px;
    width: 100%;
  }
}
.sec02__listItem:nth-child(2) {
  background: #005ca2;
}
.sec02__listItem:nth-child(3) {
  background: #0075b6;
}
.sec02__itemTitle {
  margin: 0;
  font-size: 2.6rem;
}
@media screen and (max-width: 768px) {
  .sec02__itemTitle {
    font-size: 2rem;
  }
}
.sec02__listImg {
  margin: 34px 0 37px;
}
@media screen and (max-width: 768px) {
  .sec02__listImg {
    max-height: 53px;
  }
}
.sec02__textListContainer {
  display: flex;
  justify-content: center;
}
.sec02__textList {
  padding: 0;
  text-align: left;
  list-style: none;
  max-width: 80%;
}
.sec02__textItem {
  font-size: 1.8rem;
  line-height: 1.66;
}
@media screen and (max-width: 768px) {
  .sec02__textItem {
    font-size: 1.3rem;
  }
}

.sec03 {
  margin-top: 90px;
  padding: 0 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .sec03 {
    margin-top: 40px;
    text-align: left;
  }
}
.sec03__title {
  margin-bottom: 50px;
  font-size: 3.4rem;
}
@media screen and (max-width: 768px) {
  .sec03__title {
    margin-bottom: 30px;
    font-size: 2.4rem;
    line-height: 1.45;
  }
}
.sec03__description {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.22;
}
@media screen and (max-width: 768px) {
  .sec03__description {
    font-size: 1.2rem;
    line-height: 2;
  }
}
@media screen and (max-width: 768px) {
  .sec03__sp {
    display: none;
  }
}

.sec04 {
  margin: 90px auto 0;
  max-width: 1500px;
}
@media screen and (max-width: 768px) {
  .sec04 {
    margin-top: 40px;
  }
}
.sec04__img {
  width: 100%;
  min-height: auto;
}

.sec05 {
  margin: 90px auto 0;
  padding: 0 10px;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .sec05 {
    margin-top: 40px;
  }
}
.sec05__newsList {
  margin-bottom: 90px;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .sec05__newsList {
    margin-bottom: 45px;
  }
}
.sec05__newsTitle {
  margin-bottom: 20px;
  font-size: 2.8rem;
}
@media screen and (max-width: 768px) {
  .sec05__newsTitle {
    font-size: 2.4rem;
  }
}
.sec05__newsItem {
  font-size: 1.8rem;
  line-height: 2.22;
}
@media screen and (max-width: 768px) {
  .sec05__newsItem {
    margin-bottom: 34px;
    font-size: 1.2rem;
    line-height: 2;
  }
}
.sec05__btn {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .sec05__btn {
    margin: 0 auto;
    font-size: 1.3rem;
  }
}

.sec06 {
  margin: 90px auto 0;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .sec06 {
    margin-top: 40px;
    padding: 0 10px;
  }
}
.sec06__title {
  margin-bottom: 33px;
  font-size: 2.8rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .sec06__title {
    font-size: 2.4rem;
  }
}
.sec06__columnList {
  margin-bottom: 110px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 37px;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .sec06__columnList {
    margin-bottom: 45px;
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}
.sec06__columnLink {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color: #231815;
  transition: all 0.3s ease-out;
}
.sec06__columnLink:hover {
  text-decoration: none;
  color: #231815;
  opacity: 0.75;
}
.sec06__columnItemImg {
  margin-right: 17px;
  max-width: 140px;
  max-height: 140px;
}
@media screen and (max-width: 768px) {
  .sec06__columnItemImg {
    max-width: 92px;
    max-height: 92px;
  }
}
.sec06__columnDescription {
  font-size: 1.8rem;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .sec06__columnDescription {
    font-size: 1.2rem;
    line-height: 2;
  }
}
.sec06__columnDate {
  margin: 0;
}
.sec06__btn {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .sec06__btn {
    margin: 0 auto;
    font-size: 1.3rem;
  }
}

.sec07 {
  margin: 90px auto 0;
}
@media screen and (max-width: 768px) {
  .sec07 {
    margin-top: 40px;
    padding: 0 10px;
  }
}
.sec07__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 3.4rem;
}
@media screen and (max-width: 768px) {
  .sec07__title {
    margin-bottom: 27px;
    font-size: 2.4rem;
    line-height: 1.45;
  }
}
.sec07__text {
  margin-bottom: 100px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.22;
}
@media screen and (max-width: 768px) {
  .sec07__text {
    margin-bottom: 35px;
    font-size: 1.2rem;
    line-height: 2;
  }
}
@media screen and (max-width: 768px) {
  .sec07__br {
    display: none;
  }
}
.sec07__contactBtn {
  margin: 0 auto;
  padding: 32px 180px;
  max-width: 638px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #e39300;
  color: #fff;
  font-size: 2.4rem;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  .sec07__contactBtn {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-size: 1.3rem;
  }
}
.sec07__contactBtn:hover {
  opacity: 0.75;
  color: #fff;
  text-decoration: none;
}
.sec07__btnImg {
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .sec07__btnImg {
    max-height: 11px;
  }
}

.sec08 {
  margin: 90px auto 0;
  max-width: 883px;
}
@media screen and (max-width: 768px) {
  .sec08 {
    margin-top: 40px;
  }
}
.sec08__text {
  font-size: 1.8rem;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .sec08__text {
    margin: 0 0 10px 10px;
    font-size: 1.2rem;
  }
}
.sec08__mapContainer {
  width: 300px;
}
.sec08__map {
  border: 0;
  max-width: 100%;
}
.sec08__description {
  margin-top: 15px;
  font-size: 1.8rem;
}
@media screen and (max-width: 768px) {
  .sec08__description {
    margin: 15px 0 0 10px;
    font-size: 1.2rem;
  }
}

.faqSec01 {
  background: #00437c;
  clear: both;
}
.faqSec01__container {
  margin: 0 auto;
  max-width: 1200px;
}
.faqSec01__title {
  margin: 0;
  padding: 65px 0;
  font-size: 3.6rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .faqSec01__title {
    padding: 35px 0;
    text-align: center;
    font-size: 2rem;
  }
}

.faqSec02__container {
  margin: 45px auto 0;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .faqSec02__container {
    margin-top: 30px;
    padding: 0 10px;
  }
}
.faqSec02__breadcrumb {
  margin-bottom: 35px;
  padding-left: 0;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 1.8rem;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .faqSec02__breadcrumb {
    margin-bottom: 25px;
    font-size: 1.2rem;
  }
}
.faqSec02__breadcrumbItem:nth-child(1):after {
  padding: 45px;
  content: "＞";
}
.faqSec02__breadcrumbLink {
  color: #005ca2;
}
.faqSec02__breadcrumbLink:hover {
  color: #4c8dcb;
}
.faqSec02__btns {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .faqSec02__btns {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.faqSec02__btn {
  padding: 30px 0;
  width: 100%;
  background: #4c8dcb;
  text-align: center;
  color: #fff;
  font-size: 2.8rem;
  transition: all 0.3s ease-out;
}
.faqSec02__btn:hover {
  background: #00437c;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .faqSec02__btn {
    padding: 15px 0;
    font-size: 1.4rem;
  }
}
.faqSec02__btn:nth-child(1) {
  margin-right: 35px;
}
@media screen and (max-width: 768px) {
  .faqSec02__btn:nth-child(1) {
    margin-bottom: 24px;
  }
}

.faqSec03__container {
  margin: 70px auto 130px;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .faqSec03__container {
    margin: 70px auto 130px;
  }
}
.faqSec03__faq:nth-child(2) {
  margin-top: 110px;
}
@media screen and (max-width: 768px) {
  .faqSec03__faq:nth-child(2) {
    margin-top: 58px;
  }
}
.faqSec03__title {
  padding: 17px 0 17px 17px;
  background: #00437c;
  font-size: 2.4rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .faqSec03__title {
    font-size: 1.4rem;
  }
}
.faqSec03__qaList {
  padding: 0;
  list-style: none;
}
.faqSec03__qaItem {
  padding: 35px 0;
  padding-left: 85px;
  position: relative;
}
.faqSec03__qaItem:nth-child(odd):before {
  content: url("../images/faq/sectionPage_icon_q.png");
  position: absolute;
  top: 15px;
  left: 7px;
}
@media screen and (max-width: 768px) {
  .faqSec03__qaItem:nth-child(odd):before {
    left: 16px;
  }
}
.faqSec03__qaItem:nth-child(even) {
  background: #fdeeed;
}
.faqSec03__qaItem:nth-child(even):before {
  content: url("../images/faq/sectionPage_icon_a.png");
  position: absolute;
  top: 15px;
  left: 7px;
}
@media screen and (max-width: 768px) {
  .faqSec03__qaItem:nth-child(even):before {
    left: 16px;
  }
}
.faqSec03__qaItemText {
  font-size: 1.8rem;
  line-height: 2.22;
}
@media screen and (max-width: 768px) {
  .faqSec03__qaItemText {
    margin: 0 10px;
    font-size: 1.2rem;
    line-height: 2;
  }
}

/*====================================================================
Contact Page
custom mw wp plugin
====================================================================*/
.contactContainer {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.contactContainer p {
  color: #231815;
  font-size: 1.4rem;
}

.contactContainer input[type="text"],
.contactContainer textarea {
  width: 500px;
}

.contactContainer input[type="submit"] {
  border: none;
  padding: 5px 10px;
  background: #00437c;
  color: #fff;
}

.contactContainer input[type="submit"]:hover {
  opacity: 0.75;
}

/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  margin: 114px 0 0;
  padding: 90px 0;
  background-color: #e6ebee;
}
@media screen and (max-width: 768px) {
  .siteFooter {
    margin-top: 80px;
    padding: 0 0 35px;
  }
}
.siteFooter__innerCont {
  margin: 0 auto;
  padding: 0 58px;
  max-width: 1200px;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .siteFooter__innerCont {
    padding: 0;
  }
}
.siteFooter__toTop {
  padding: 16px;
  max-width: 1200px;
  position: absolute;
  top: -170px;
  right: 0px;
  background: #727171;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  .siteFooter__toTop {
    padding: 15px;
    top: -55px;
    right: 10px;
  }
}
.siteFooter__toTop:hover {
  opacity: 0.75;
}
.siteFooter__toTopImg {
  max-width: 17px;
}
@media screen and (max-width: 768px) {
  .siteFooter__toTopImg {
    max-width: 15px;
  }
}
.siteFooter__list {
  margin-bottom: 95px;
  padding: 0;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .siteFooter__list {
    margin-bottom: 30px;
    display: block;
    text-align: left;
  }
}
.siteFooter__item {
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  .siteFooter__item {
    border: 1px solid #b7b7b7;
    padding: 14px 10px;
    background: #00437c;
    font-size: 1.3rem;
    color: #fff;
  }
}
.siteFooter__itemLink {
  color: #231815;
}
.siteFooter__itemLink:hover {
  color: #231815;
  opacity: 0.75;
}
@media screen and (max-width: 768px) {
  .siteFooter__itemLink {
    color: #fff;
  }
  .siteFooter__itemLink:hover {
    color: #fff;
  }
}
.siteFooter__logo {
  margin-bottom: 18px;
  max-width: 283px;
}
@media screen and (max-width: 768px) {
  .siteFooter__logo {
    margin-bottom: 16px;
    max-width: 160px;
  }
}
.siteFooter__contact {
  font-size: 1.5rem;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .siteFooter__contact {
    margin: 0 22px;
    font-size: 1rem;
    line-height: 1.8;
  }
}

/*====================================================================
COMMON LAYOUT
====================================================================*/
html {
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: calc(10vw / 3.75);
  }
}

body {
  min-width: 1140px;
  font-feature-settings: "palt" 1;
}
@media screen and (max-width: 768px) {
  body {
    min-width: inherit;
  }
}

/*-----------------------------------------------
PC/SP
------------------------------------------------*/
.u-pcDb {
  display: block;
}

.u-pcDib {
  display: inline-block;
}

.u-pcDin {
  display: inline;
}

.u-pcDf {
  display: flex;
}

.u-pcDt {
  display: table;
}

.u-pcDtc {
  display: table-cell;
}

.u-spDb,
.u-spDib,
.u-spDin,
.u-spDf,
.u-spDt,
.u-spDtc {
  display: none;
}

@media screen and (max-width: 768px) {
  .u-pcDb,
  .u-pcDib,
  .u-pcDin,
  .u-pcDf,
  .u-pcDt,
  .u-pcDtc {
    display: none;
  }

  .u-spDb {
    display: block;
  }

  .u-spDib {
    display: inline-block;
  }

  .u-spDin {
    display: inline;
  }

  .u-spDf {
    display: flex;
  }

  .u-spDt {
    display: table;
  }

  .u-spDtc {
    display: table-cell;
  }
}
/*-----------------------------------------------
main
------------------------------------------------*/
.siteContent {
  min-height: calc(100vh - 236px);
  padding-top: 118px;
}
@media screen and (max-width: 768px) {
  .siteContent {
    min-height: calc(100vh - 50px);
    padding-top: 50px;
  }
}

/*-----------------------------------------------
wrapper class
------------------------------------------------*/
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*-----------------------------------------------
Post styles
------------------------------------------------*/
.post-container {
  margin-top: 90px;
  max-width: 800px;
}
@media screen and (max-width: 768px) {
  .post-container {
    margin-top: 30px;
    padding: 0 10px;
  }
}

.post-container h1 {
  margin-bottom: 50px;
  font-size: 3.4rem;
}
@media screen and (max-width: 768px) {
  .post-container h1 {
    margin-bottom: 20px;
  }
}

.post-container p {
  margin-bottom: 30px;
  font-size: 1.8rem;
  line-height: 2.22;
}

/* post pagination styles */
.post-pagination {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.post-pagination a {
  font-size: 1.8rem;
  color: #231815;
  transition: all 0.3s ease-out;
}

.post-pagination a:hover {
  opacity: 0.75;
  text-decoration: none;
}
